  <div class="text-center">
    <h1>Cocktails</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="text-center">
        <p><%= link_to "Add a new Cocktail", new_cocktail_path, class: "btn-treehouse" %></p>
      </div>
    </div>
    <div class="row">
      <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4 col-lg-4 cocktail-card">
        <%= link_to cocktail_path(cocktail) do %>
          <% if cocktail.image %>
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path cocktail.image, height: 300, width: 400, crop: :fill %>)">
            <% else %>
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>)">
            <% end %>
          <div class="card-category">
            <h3><%= cocktail[:name] %></h3>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>

  </div>
